<!DOCTYPE html>
<html>
  <head>
    <title>Quiz2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <br class="clear" />
    <div class="container">
    <%= yield %>
    </div>



<!-- Place sticky footer content here. -->
    <div class="footer">
         <div class="container">
           <div class="row">

             <p class="text-muted">
                <li>
               <h2>A webpage, created by: <%= link_to "jcgdxn","http://github.com/jcgdxn" %></h2>
                </li>
             </p>
           </div>
         </div>
       </div>



  </body>
</html>
